body {
    margin: 0;
    width: 100%;
    font: 0.8em "Fira Sans", sans-serif;
    background-color: beige;
}

header {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    background-color: #6ecff5;
    box-shadow: 3px 2px #9fe1f5;
    border-bottom: 1px solid blue;
    margin-bottom: 10px;
}

main {
    margin: 0 5%;
}

section {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

figure > img {
    width: 50%;
    height: auto;
}

figure > figcaption {
    margin-top: 5px;
    font-weight: bold;
}

@media screen and (min-width: 500px) and (max-width: 880px) {
    figure > img {
        width: 90%;
    }
}

@media screen and (max-width: 500px) {
    section {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
}